/* Custom CSS styling here */
body {
  background: #C0D9E8;
}

p {
  font-weight: bold;
}

/* Toggle Buttons for the Setting Panel */

.toggleButton {
  cursor: pointer;
  background: rgba(33,33,33,.5);
  border: none;
  color: rgb(255,255,255);
  font-size: 1em;
  padding: .5em;
  border-radius: .5em;
}

.toggleButton:hover {
  background: rgba(33,33,33,.6);
}

.toggleButton:active {
  background: rgb(33,33,33);
}

/* Buttons for Changing the Decoration Image*/

#decoButtonsDiv {
  display : flex;
  justify-content : space-around;
  padding: 5%;
  background: rgba(255,255,255,.25);
  border-radius: 5px;
}

.decoButton {
  background: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 20%;
  padding-top: 20%;
  cursor: pointer;
}

/* Intro Popup Styling */

#introPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
  color: #999999;
  box-shadow: 0px 0px 10px rgba(0,0,0,.25);
}

#introPopup h1{
  font-family: Helvetica, Arial, sans-serif;
  color: #C0D9E8;
  margin: 0;
  font-weight: 100;
  font-size: 5em;
  text-transform: uppercase;
}

#introPopup h3 {
  font-weight: 300;
  color: #C0D9E8;
  font-size: 1.5em;
}

#introPopup p{
  font-weight: normal;
  color: #70949E;
}

#introPopup button {
  align-self: center;
  cursor: pointer;
  background: none;
  border: 1px solid #F2A844;
  color: #F2A844;
  font-size: 1em;
  font-weight: normal;
  width:30%;
  padding: .5em;
  border-radius: 1em;
  margin-top: 1em;
  transition: all 0.3s ease 0s;
}

#introPopup button:hover {
  background: #F2A844;
  border: 1px solid #fff;
  color: #fff;
}

#introPopup button:active {
  background: #ACACAC;
}

/* Remove Blue Focus Border YUCK! */

*:focus {
    outline: none;
}

/* Styling for Indicator on Setting Panel */

.indicator {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid rgba(33,33,33,.25);
}
